<section class="d-flex justify-content-between py-4 border-bottom">
  <div class="d-flex gap-4">
    <div class="logo">
      <img
        class="object-fit-contain"
        src="../../assets/saketa.jpg"
        alt="Logo"
      />
    </div>
    <div class="name">
      <h1>Employee Directory</h1>
      <p>The ultimate people directory experience</p>
    </div>
  </div>
  <div class="d-flex gap-4 align-items-center">
    <p class="greeting"><span>Welcome, </span>Andrew Philips</p>
    <div class="user-img"><img src="../../assets/profile.jpg" alt="" /></div>
  </div>
</section>
