:root{
    --dark-gray : #4c4b4b;
    --semi-dark-gray : #706f6f;
    --light-gray : #b2b2b2;
    --dark-blue : #00b1fc;
    --light-blue : #63cefd;
    --green : #69ba00;
    --red : #ff5733;
    --light-border-color : #e9e8e8;

    --primary-heading : 2.8rem;
    --secondary-heading : 1.8rem;
    --tertiary-heading : 1.2rem;
}


