<div class="emp-form-container">
  <h1 class="text-center">Employee Form</h1>
  <form
    class="fs-5 emp-form mx-auto"
    #form="ngForm"
    (ngSubmit)="handleSubmitForm()"
  >
    <div class="mb-3">
      <label class="form-label" for="firstName">First Name</label>
      <input
        [(ngModel)]="employee.firstName"
        name="firstName"
        id="firstName"
        class="form-control"
        type="text"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="lastName">Last Name</label>
      <input
        [(ngModel)]="employee.lastName"
        name="lastName"
        id="lastName"
        class="form-control"
        type="text"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="phoneNumber">Phone Number</label>
      <input
        [(ngModel)]="employee.phone"
        name="phone"
        id="phoneNumber"
        class="form-control"
        type="text"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="skypeId">Skype Id</label>
      <input
        [(ngModel)]="employee.skypeId"
        name="skypeId"
        id="skypeId"
        class="form-control"
        type="text"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="email">Email</label>
      <input
        [(ngModel)]="employee.email"
        name="email"
        id="email"
        class="form-control"
        type="text"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="department">Department</label>
      <select
        [(ngModel)]="employee.department"
        name="department"
        id="department"
        class="form-select"
      >
        <option value="" disabled selected>Select a department</option>
        <option
          *ngFor="let department of employeeMaster.departments"
          [value]="department"
        >
          {{ department }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label" for="office">Office</label>
      <select
        [(ngModel)]="employee.office"
        name="office"
        id="office"
        class="form-select"
      >
        <option value="" disabled selected>Select an office</option>
        <option *ngFor="let office of employeeMaster.offices" [value]="office">
          {{ office }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label" for="jobTitle">Job Title</label>
      <select
        [(ngModel)]="employee.jobTitle"
        name="jobTitle"
        id="jobTitle"
        class="form-select"
      >
        <option value="" disabled selected>Select a job title</option>
        <option
          *ngFor="let jobTitle of employeeMaster.jobTitles"
          [value]="jobTitle"
        >
          {{ jobTitle }}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary fs-5">Submit</button>
    <button
      type="submit"
      class="btn btn-secondary fs-5 ms-4"
      (click)="toggleFormEvent.emit(0)"
    >
      Close
    </button>
  </form>
</div>
